main {
    max-width: initial !important;
}

main>* {
    max-width: var(--content-max-width);
    margin-right: auto;
    margin-left: auto;
}

.folder-viewer {
    display: flex;
    flex-flow: row;
    height: 80vh;
    max-width: calc(90%);
    width: 100%;
}

.folder-viewer-sidebar {
    list-style: none outside none;
    width: 30%;
    margin: 0;
    padding: 5px 10px;
    overflow: auto;
    background: var(--sidebar-bg);
    font-size: 0.875em;
}

.folder-viewer-sidebar li {
    color: var(--sidebar-fg);
    cursor: pointer;
}

.folder-viewer-sidebar ul {
    list-style: none;
    padding-left: 20px;
}

.folder-viewer-sidebar li.active, .folder-sidebar li:hover {
    color: var(--sidebar-active);
}

.folder-viewer-files {
    width: auto;
    overflow-y: scroll;
    flex-grow: 1;
    height: 100%;
}

.folder-viewer-files>div {
    display: none;
    margin: 0;
    height: 100%;
}
.folder-viewer-files>div>pre {
    margin: 0;
    height: 100%;
}
.folder-viewer-files>div>pre>code {
    height: 100%;
}

.folder-viewer-files>div.show {
    display: block;
}
